html,
body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background:black;
}

#scene{
    position:relative;
    width:100vw;
    height:100vh;
}

#background{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:contain;
    display:block;
}

/* All effects */

#blueAtmosphere,
#redAtmosphere,
#stadiumPulse,
#embers{

    position:absolute;
    inset:0;
    pointer-events:none;
}

/* Left Side Energy */

#blueAtmosphere{

    background:
    radial-gradient(
        circle at 22% 45%,
        rgba(0,150,255,.15),
        transparent 45%
    );

    animation:
    blueBreath 7s ease-in-out infinite;
}

@keyframes blueBreath{

    0%,100%{
        opacity:.45;
    }

    50%{
        opacity:.9;
    }
}

/* Right Side Energy */

#redAtmosphere{

    background:
    radial-gradient(
        circle at 78% 45%,
        rgba(255,60,60,.15),
        transparent 45%
    );

    animation:
    redBreath 8s ease-in-out infinite;
}

@keyframes redBreath{

    0%,100%{
        opacity:.45;
    }

    50%{
        opacity:.9;
    }
}

/* Stadium Floodlight Breathing */

#stadiumPulse{

    background:
    radial-gradient(
        circle at 50% 0%,
        rgba(255,255,255,.05),
        transparent 60%
    );

    animation:
    floodlightPulse 6s ease-in-out infinite;
}

@keyframes floodlightPulse{

    0%,100%{
        opacity:.4;
    }

    50%{
        opacity:1;
    }
}
