html,
body{
    margin:0;
    padding:0;
    overflow:hidden;
    background:#000;
}

#scene{
    position:relative;
    width:100vw;
    height:100vh;
}

#background{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:contain;
}

#embers,
#blueGlow,
#redGlow,
#centerEnergy,
#grandFinalGlow{
    position:absolute;
    inset:0;
    pointer-events:none;
}

#blueGlow{
    background:
    radial-gradient(
        circle at 23% 45%,
        rgba(0,150,255,.15),
        transparent 40%
    );

    animation:
    bluePulse 5s ease-in-out infinite;
}

@keyframes bluePulse{

    0%,100%{
        opacity:.45;
    }

    50%{
        opacity:.9;
    }
}

#redGlow{
    background:
    radial-gradient(
        circle at 77% 45%,
        rgba(255,50,50,.15),
        transparent 40%
    );

    animation:
    redPulse 6s ease-in-out infinite;
}

@keyframes redPulse{

    0%,100%{
        opacity:.45;
    }

    50%{
        opacity:.9;
    }
}

#grandFinalGlow{

    background:
    radial-gradient(
        circle at 50% 78%,
        rgba(255,190,40,.12),
        transparent 22%
    );

    animation:
    finalPulse 4s ease-in-out infinite;
}

@keyframes finalPulse{

    0%,100%{
        opacity:.4;
    }

    50%{
        opacity:1;
    }
}

#centerEnergy{

    width:120px;
    height:120px;

    left:58%;
    top:61%;

    position:absolute;

    background:
    radial-gradient(
        circle,
        rgba(255,210,80,.8),
        transparent
    );

    opacity:0;

    filter:blur(20px);
}
